body {
    font-family: 'Arial', sans-serif;
    background-color: #1f1f38;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#todo-container {
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}

.task-item input[type="checkbox"] {
    margin-right: 10px;
}

.complete {
    text-decoration: line-through;
    color: #aaa;
}

.hidden {
    display: none;
}

#task-input {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
}

#add-task-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

#delete-completed-btn {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
}

#filter-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

#filter-buttons button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    flex-grow: 1;
}

#filter-buttons button.active {
    background-color: #45a049;
}